@charset "UTF-8";

h1 {
	color: red !important;
	font-size: 48px;
}
/*
파일로 만들었을때의 장점 링크형식으로 불러오면된다. 그래서 그 문서 말고도 다른 문서들에도 
동일한 스타일을 적용가능, 모듈화가능.
*/

h2 {
	color: red;
}
/*
태그 선택자와 클래스 선택자 대립시 클래스 선택자가 우선이다!
이경우에는 위에 link순서 상관이 없다.
*/

#title-green {
	color: green;
}
/*
하지만 태그,클래스,아이디선택자가 있으면 아이디선택자가 더 우선이다.
그다음 우선순위는 인라인 최우선은 !important
*/