@charset "UTF-8";

nav.nav-menu ul {
	list-style-type: none; /* 불릿 없앨때! */
	background-color: rgb(119,53,249);
}

nav.nav-menu a {
	text-decoration: none;  /* 밑줄같은거 없앨때! */
	color: rgb(250,248,250);
	padding: 2em;
}

nav.nav-menu li,a {
	display: inline-block; /* 가로나열을 세로나열로 ( 블록레벨에서 인라인레벨 )*/
}

nav.nav-menu a:hover {
	font-weight: bold;
	color: white;
}

nav.nav-menu a.active {
	font-weight: bold;
	color: white;
}


nav.side-menu li,a {
	display: inline; /* 가로나열을 세로나열로 ( 블록레벨에서 인라인레벨 )*/
}

.side-menu a {
	text-decoration: none;  /* 밑줄같은거 없앨때! */
	color: rgb(250,248,250);
}